/* Ensure that body and other elements reset any margin/padding to avoid unexpected gaps */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'pt sans', sans-serif;
  background-color: #252529;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

.head {
  width: 100%;
  background-color: #263c35;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1000; */
	height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-right: 20px; /* Add spacing between nav items */
}

li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

a {
  text-decoration: none;
  color: #eee;
  padding: 10px 20px;
  display: inline-block;
}

#about {
  margin-right: auto;
}


#openup {
  margin-left: auto;
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 170px; /* Ensure it doesn’t overlap with the fixed nav */
  text-align: center;
  
  
}

/* h2 {
  font-size: 2rem;
} */

.lead {
  font-size: 1.3rem;
}

/* Showcase adjustments */
#showcase {
  margin: 0;
  padding: 0;
  background: url('../images/vin.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 60px; /* Offset for the fixed nav */
}

li:hover{
	background-color:rgb(65, 91, 65) ;
}
.title{
  text-align: center;
  margin-top: 350px;
  justify-items:center;
}
/* h1{
  text-align: center;
} */

.vido{
  margin-left: 100px;
  margin-top: 50px;
}
body{
  background-image: url("../images/v.jpg");
}